<ion-view view-title="Facebook">
  <ion-content>
    <div class="list list-inset">
        
        <a class="item item-divider">
            Follow our Facebook Pages
          </a>

        
        <a class="item item-icon-left item-icon-right" href="https://www.facebook.com/historicebenezerbaptistchurch">
            <i class="icon ion-social-facebook positive"></i> 
            Ebenezer Baptist Church
            <i class="icon ion-ios-arrow-right"></i> 
        </a>
        <a class="item item-icon-left item-icon-right" href="https://www.facebook.com/raphaelgwarnock">
            <i class="icon ion-social-facebook positive"></i>  
            Raphael G Warnock  
            <i class="icon ion-ios-arrow-right"></i> 
          </a>
        <a class="item item-icon-left item-icon-right" href="https://www.facebook.com/EBCWorshipandArtsMinistry">
           <i class="icon ion-social-facebook positive"></i> 
           Worship Arts
           <i class="icon ion-ios-arrow-right"></i> 
          </a>
        <a class="item item-icon-left item-icon-right" href="https://www.facebook.com/Ebenezer-Childrens-Ministries-440360069339204/">
           <i class="icon ion-social-facebook positive"></i> 
           Children
           <i class="icon ion-ios-arrow-right"></i> 
          </a>
        <a class="item item-icon-left item-icon-right" href="#">
           <i class="icon ion-social-facebook positive"></i> 
           Youth
            <i class="icon ion-ios-arrow-right"></i> 
          </a>
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-social-facebook positive"></i> 
            Young Adults
            <i class="icon ion-ios-arrow-right"></i> 
          </a>
        <a class="item item-icon-left item-icon-right" href="https://www.facebook.com/ebenezerwomensministry">
           <i class="icon ion-social-facebook positive"></i> 
           Women
            <i class="icon ion-ios-arrow-right"></i> 
          </a>
        <a class="item item-icon-left item-icon-right" href="https://www.facebook.com/EbenezerMensMinistry">
           <i class="icon ion-social-facebook positive"></i> 
           Men
           <i class="icon ion-ios-arrow-right"></i> 
          </a>
    </div>
      
      
      
  </ion-content>
</ion-view>
