<ion-view view-title="Giving">
    
    <div class="bar bar-subheader bar-dark item-input-inset">
        <h1 class="title"><a href="#/app/giving_accessaccount" style="text-decoration: none">Access your SecureGive Account</a></h1>
    </div>
    
    
  <ion-content scroll="true" overflow-scroll="true" class="has-subheader iframe-wrapper" padding="false">
   
      <iframe data-tap-disabled="true" src="https://historicebenezer.SecureGive.com/SG/WebOnline/Transaction/Instant?transactionType=Donation&lockCampus=False"></iframe>
      
      
  </ion-content>
</ion-view>
