<ion-view view-title="Need Prayer">
  <ion-content>
      
    <div class="list">
   
    <label class="item item-input item-stacked-label">
        <span class="input-label">First Name <span class="assertive">*</span></span>
      <input type="text" placeholder="First Name" ng-model="formdata.volunteer_first_name">
    </label>
        
   <label class="item item-input item-stacked-label">
      <span class="input-label">Last Name <span class="assertive">*</span></span>
      <input type="text" placeholder="Last Name" ng-model="formdata.volunteer_last_name">
    </label>
        
    <label class="item item-input item-stacked-label">
      <span class="input-label">Your Email Address <span class="assertive">*</span></span>
      <input type="email" placeholder="Email Address" ng-model="formdata.volunteer_email">
    </label>
        
    <label class="item item-input item-stacked-label">
      <span class="input-label">Mobile Phone <span class="assertive">*</span></span>
      <input type="tel" placeholder="Mobile Phone (all numbers - without spaces, dashes, periods, etc.)" ng-model="formdata.volunteer_mobile">
    </label>  
        
  
     <ul class="list">

    <li class="item item-toggle">
                Are you a member?
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="formdata.volunteer_member_check">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
             </li>
             
             <li class="item item-toggle">
               Confirm via email/text? 
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="formdata.volunteer_notify_check">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
             </li>
  </ul>   

    
    <label class="item item-input item-stacked-label">
      <span class="input-label">Message <span class="assertive">*</span></span>
      <textarea ng-model="formdata.volunteer_message" placeholder="john@suhr.com" rows="8">Please contact me regarding this ministry:  Prayer Services
</textarea>
    </label>
        
        
       </div>

      <div class="row">
        <button class="button button-full button-positive" ng-click="submitForm()">
          Suggest your Prayer Request
        </button>   
      </div>
  </ion-content>
</ion-view>
